<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>도서검색시스템</title>
</head>
<style>
*{
    margin:0;
    padding:0;
}
img{
    border:none;
    vertical-align:top;
}

#bannerWrap{
    width:1000px;
    padding:10px 20px;
    margin:0 auto;
    border:1px solid #aaa
}
#banner{
    width:2000px;
}

#banner li{
    list-style:none;
    float:left;
    width:200px;
}
#frame{
    width:2000px;
    overflow:hidden;
    position:relative;
    margin:10px auto;
}

.navbar-expand-lg {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.bd-sidebar {
  position: sticky;
  top: 4rem;
  z-index: 800;
  height: calc(100vh - 4rem);
  background: #eee;
  border-right: 1px solid rgba(0,0,0,.1);
  overflow-y: auto;
}
.bd-sidebar .nav {
  display: block;
  padding-top:30px;
}
.bd-sidebar .nav>li {
 padding:5px 0;
 font-size:20px;
}
.bd-sidebar .nav>li>a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
  cursor:pointer;
}
.container-fluid {
width:25%;
height:100%;
position:sticky;
overflow: auto;
list-style-type: none;
padding: 0;
margin:  0;
}

</style>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<!-- header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <button onclick="location.href='/manage/manage'" class="btn btn-success" sec:authorize="hasRole('ADMIN')">관리자페이지</button>

            ID : <span sec:authentication="principal.user_Id" style="font-weight:bold;"></span>
            <span>님 환영합니다.&nbsp;&nbsp;&nbsp;</span>
            <form id="logout" action="/logout" method="POST">
                <input type="submit" value="로그아웃"/>
            </form>
            <span>&nbsp;&nbsp;&nbsp;</span>

        </div>
    </div>

</nav>
<!-- header-->

<body>
<!-- sidebar -->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 bd-sidebar" >
            <ul class="nav">
                <li><a th:onclick="location.href='/boardList.do'">공지사항</a></li>
                <li><a>책 중고장터</a></li>
                <li><a>책 구매요청</a></li>
                <th:block sec:authorize="hasRole('ADMIN')">
                <li><a th:onclick="location.href='/bookList.do'">도서</a></li>
                </th:block>
            </ul>
            <br>
        </div>
<!-- sidebar -->

        <main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
            <!--search-->
            <div class="form-inline">
                <select class="form-control search-select" th:name="searchType" id="searchType" style="width:20%">
                    <option th:value="author">저자</option>
                    <option th:value="book_Name">도서명</option>
                </select>
                <input th:type="text" class="form-control search-input" th:name="keyword" id="keyword" style="width:70%">
                <button th:type="button" class="btn btn-primary" th:name="btnSearch" id="btnSearch">검색</button>
            </div>
            <!--search-->
<div style="height:100px;"></div>
            <!-- 베스트 셀러 롤링 시작-->
            <div id="bannerWrap">
                <div id="frame">
                    <ul id="banner">
                        <li>
                            <a href="#"><img src="bootstrap/img/book1.PNG" alt="사진1" style="width:200px;height:350px;"></a>
                        </li>
                        <li>
                            <a href="#"><img src="bootstrap/img/book2.PNG" alt="사진2" style="width:200px;height:350px;"></a>
                        </li>
                        <li>
                            <a href="#"><img src="bootstrap/img/book3.PNG" alt="사진3" style="width:200px;height:350px;"></a>
                        </li>
                        <li>
                            <a href="#"><img src="bootstrap/img/book4.PNG" alt="사진4" style="width:200px;height:350px;"></a>
                        </li>
                        <li>
                            <a href="#"><img src="bootstrap/img/book5.PNG" alt="사진5" style="width:200px;height:350px;"></a>
                        </li>
                    </ul>
                </div>
                <p>
                    <button class="prev">
                        <img src="img/prevBtn.png" alt="이전 버튼">
                    </button>
                    <button class="next">
                        <img src="img/nextBtn.png" alt="다음 버튼">
                    </button>
                </p>
            </div>
            <!-- 베스트 셀러 롤링 끝-->

        </main>
    </div>
</div>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="application/javascript">
	$(document).on('click', '#btnSearch', function(e){
        e.preventDefault();
        var url = "/searchList.do";
        url = url + "?searchType=" + $('#searchType').val();
        url = url + "&keyword=" + $('#keyword').val();
        window.open(url,"SearchWin","width=1400,height=1000");
    });

$(function(){
        // <ul id="banner">를 list 변수에 참조
        var list = $("#banner");
        // 프레임의 사진 노출 개수
        var showNum = 3;
        // 이전, 다음 버튼을 클릭할 때마다 증감되는 값
        var num = 0;
        // 총 <li>의 개수 5가 저장된다.
        var total = $(">li", list).size();
        // <li>의 너빗값 80이 저장된다.
        var liWidth = $("li:first", list).width();

        /*
            <li> 태그 중 인덱스 값이 3보다 작은 <li> 태그만 복제한다.
            그러므로 0,1,2 인덱스에 해당하는 <li> 태그가 복제되어
            <ul id="banner">에 추가한다.
        */
        var copyObj = $(">li:lt("+showNum+")", list).clone();
        list.append(copyObj);

        // 다음 버튼을 클릭할 때마다 이벤트 핸들러를 실행한다.
        $(".next").on("click", function(){
            if(num == total){ // num값이 5일 경우 조건문을 실행
                num = 0; // num값 초기화
                list.css("margin-left",num); // 배너가 첫 부분으로 이동
            }
            num++;

            list.stop().animate({marginLeft:-liWidth*num+"px"},500);
            return false;
        });

        // 이전 버튼을 클릭할 때마다 이벤트 핸들러를 실행한다.
        $(".prev").on("click", function(){
            if(num == 0){    // num값이 0일 경우 조건문을 수행
                num = total; // num값이 5가 된다.
                // 배너가 400px만큼 이동
                list.css("margin-left", -num*liWidth+"px");
            }

            num--;
            list.stop().animate({marginLeft:-liWidth*num+"px"},500);
            return false;
        });
    });
</script>
<!-- footer-->
<div style = "text-align:center;" class="container-fluid navbar-fixed-bottom">
    <div style="font-size:.6rem;">
        <span>사업자번호</span> |
        <span>사업주</span> |
        <span>문의전화 : 1234-1234</span>
    </div>
    <div style="margin-top:1rem;">
        <h6 style="font-family: 'Lobster', cursive;">KHBookStore</h6>
    </div>

</div>
<!-- footer-->

</html>